body {
 
   
margin: 0;
  
   
margin-top: 50px;
  
  
   background-image: url("pm.jpg"); 
   
   background-repeat: no-repeat;
   
background-size: 1900px;
 

}


h1{
  
font-family:courier;
 
}


.split {
 
 height: 100%;
 
 width: 50%;
  
position: fixed;
 
 z-index: 1;
 
 top: 0;
  
overflow-x: hidden;
  
padding-top: 20px;

}


.left {
  
left: 0;
  

}


.right {

  right: 0;
  
font-size:17px;
 
}


.centered {
  
position: absolute;
  
top: 50%;
 
 left: 50%;
  
transform: translate(-50%, -50%);
  
text-align: left;

}


p{

  font-size: 14px;
  
font-family: Lucida Console;

}



